body {
    /*Background Color-related things */
    
    background: #af0000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91000f, #af0000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91000f, #af0000) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.front-page {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 75px;
    transition: all 0.2s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

.intro{
    display: flex;
    align-items:top;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    color: #ffffff;
    margin-left: 100px;
    margin-top: 75px;
    font-family: 'Verdana';
}

.icons {
    margin-left: 100px;
    margin-top: -25px;
    font-size: 30px;
}

i {
    padding: 2px;
}

.icons a {
    color: white;
}

a:hover i {
    transform: scale(1.4);
}

a:active i {
    color: rgb(194, 189, 189);
}

.textbox {
    margin-left: 100px;
    margin-top: 70px;
}

h2 {
    color: white;
    font-family: 'Verdana';
}

.textbox a {
    color: #000000;
    text-decoration: none;
}

.textbox a:hover {
    font-size: 25px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}

.inner-sub-container img {
    background: white;
    color: white;
    display: flex;
}

.inner-sub-container img:hover {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    color: white;
    position: relative;
}

.overlay{
    background: white;
    opacity: 1;
    position: absolute;
}
